<a 
    href="#" 
    class="list-group-item clearfix" 
    (click)="onSelected()"
    >
            
    <div class="d-flex justify-content-between border border-primary p-2 bg-light">
        <div class="d-flex flex-column">
            <h4 class="list-group-item-heading">{{recipe.name}}</h4>
            <p class="list-group-item-text">{{recipe.description}}</p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <img [src]="recipe.imagePath" 
            alt="{{recipe.name}}" 
            class="img-responsive" 
            style="max-height: 50px;">
        </div>
    </div>
</a>